*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: rgba(255, 235, 205, 0.425);
}
.btn-bouton1 
{
    color:#fff;
    background-color: #453823;
    border-color: #453823;
}
.btn-bouton1:hover, .btn-bouton1:focus, .btn-bouton1:active, .btn-bouton1.active, .open>.dropdown-toggle.btn-bouton1 
{
    color: #fff;
    background-color: #453823ce;
    border-color: #453823;
}
.table {
    margin-bottom: 0px !important;
}
.alert {
    margin-bottom: 0px !important;
}
.table td,th 
{
    text-align: center;   
}  
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th 
{
    color: #000;
    background-color: rgba(188, 143, 143, 0.075);
}
.rating-block{
    margin: auto;
    text-align: center;
}
.commentRecipe
{
    margin: auto;
    background-color: white;
    border: solid black 2px;
    padding : 6px;
}
